body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f8f8;
    overflow: hidden; /* 禁用滚动条 */
}

.container {
    text-align: center;
    background: white;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
    margin-top: 1em;
}

h1 {
    font-size: 1.2em;
    margin-bottom: 1em;
    color: #333;
}

.form-group {
    margin-bottom: 1em;
    position: relative;
    text-align: left;
}

label {
    display: block;
    font-size: 0.9em;
    color: #666;
    margin-bottom: 0.5em;
}

.input-group {
    display: flex;
    align-items: center;
}

input[type="text"] {
    width: 100%;
    padding: 0.5em;
    font-size: 0.9em;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 0;
}

input[type="text"]:read-only {
    background-color: #f1f1f1;
    color: #666;
}

button {
    padding: 0.75em;
    font-size: 1em;
    cursor: pointer;
    background-color: #0000FF; /* 亮蓝色 */
    color: white;
    border: none;
    border-radius: 20px; /* 圆角 */
    width: 90%;
    max-width: 400px;
    margin: 1em auto;
    transition: background-color 0.3s ease;
    position: absolute;
    bottom: 10px;
}

button:hover {
    background-color: #0056b3;
}

.usd-equivalent {
    font-size: 0.9em;
    color: #888;
    margin-top: 0.5em;
    text-align: left; /* 左对齐 */
}
